<div ng-include src="'/partials/navbar.html'"></div>

<div style="background: #8AC6D0;border-radius:25px"  class="ui grid">
	<div class="two wide column">
		
	</div>
	<div class="twelve wide column"> <!-- <h1 style="text-align:center" >Price History</h1> -->
		<h2 style="text-align:center">{{title}}</h2>

	


	<!-- <div linear-chart chart-data="priceData"></div> -->


	<div class="chart" style="width:{{width}}px; height:{{height}}px;">

<!-- <hr style="bottom:{{(avg / max * height*2)-600}}px;position:absolute;width:800px;border: dotted 3px;"> -->
		<div class="y" style="width:{{height}}px;">{{yAxis}}</div>
		<div class="x">{{xAxis}}

			<span class="dot" ng-repeat ="dot in priceData | orderBy: 'date'" style="background-color:#8AC6D0;bottom:{{50}}px; left:{{($index + 0.5) / priceData.length * width}}px;">{{dot.date | amDateFormat:'MM D'}}</span>


		</div>


		<div ng-repeat="dot in priceData | orderBy: 'date'" class="dot" tooltips title="{{dot.price | currency}}" style="bottom:{{(dot.price / max * height*2)-600}}px; left:{{($index + 0.5) / priceData.length * width}}px;"><!-- {{dot.price}} -->



		</div>
	</div>
</div>

<div style="background-color:white;margin-top:5%; border: 1px solid black; padding:25px" class="one wide column">

		<img style="width:90%" src="{{image}}" alt="">
		<table>
			<tbody>
				<tr>
					<td>cur:</td>
					
				</tr>
				<tr>
					<td style="font-size:10px">{{list.price}}</td>
				</tr>
				<tr>
					<td style="font-size:10px">high:</td>
				</tr>
				<tr>
					<td style="font-size:10px">{{high | currency}}</td>
				</tr>
				<tr>
					<td style="font-size:10px">low:</td>
				</tr>
				<tr>
					<td style="font-size:10px">{{low | currency}}</td>
				</tr>
				<tr>
					<td style="font-size:10px">avg:</td>
				</tr>
				<tr>
					<td style="font-size:10px">{{avg | currency}}</td>
				</tr>
			</tbody>
		</table>
		
		
	</div>


</div>
</div>
