<div ng-include src="'/assets/angular/partials/navbar.html'"></div>
<div style="background: #8AC6D0; border-radius:25px" class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column"> <h1>NEW WATCHLIST ITEM</h1></div>
  
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  <div class="eight wide column">
  	<form class="ui form">
  <div class="field">
    <label>My Email</label>
    <input ng-model="email" type="text" name="my email" placeholder="my email">
  </div>
  <div class="field">
    <label>Item Name</label>
    <input type="text" name="item name" placeholder="item name" value="{{item}}">
  </div>

  <div class="field">
    <label>Price</label>
    <input type="text" name="Price" placeholder="Price" value="{{price}}">
  </div>
   <div class="field">
    <label>Desired Price</label>
    <input ng-model="last_price" type="text" name="Last Price" placeholder="Desired Price" value="{{last_price}}">
  </div>

    <input type="hidden" name="ID" placeholder="ID" value="{{id}}">
 
    <input type="hidden" name="image" placeholder="image" value="{{image}}">
  
<!--   <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>Notify me if price drops</label>
    </div>
  </div> -->


  
  <button ng-click="addToList(item,price,id,email,image,last_price)" class="ui button" type="submit">Submit</button>
</form>
  </div>
  