<div ng-include src="'/partials/navbar.html'"></div>



<div style="background: #8AC6D0;"  class="ui grid">

	<div class="sixteen wide column"> <h1 style="text-align:center">Watchlist</h1>
		<table style="border:none; background: #8AC6D0; border-radius:75px" class="ui celled striped table">
			<thead >
				<tr style="background:green">
					<th style="background-color:#63768D">
						
					</th>
					<th style="background-color:#63768D">
						item
					</th>
					<th style="background-color:#63768D">
						last price
					</th>
					<th style="background-color:#63768D">
						current price
					</th>
					<th style="background-color:#63768D">
						desired price
					</th>
					<th style="background-color:#63768D">
						date added
					</th>
					<th style="background-color:#63768D">
						store
					</th>
				</tr></thead>
				<tbody>
					<tr ng-repeat="l in lists3">

						<td >
							{{email}}
						</td>
						<td><a style="color:#554971;font-size:15px"href='/#/charts/{{l.id}}'>{{l.title}}</a></td>
						<td style="color:green" ><b>{{l.last_check}}</b></td>
						<td ><b>{{l.price}}</td>
						<td style="color:red"><b>{{l.last_price}}</b></td>
						<td style="font-weight:bold" am-time-ago="l.date"></td>
						<td style="font-weight:bold"><b>{{l.api}}</b></td>
					</tr>
					
				</tbody>
			</table>

		</div>

		<div class="four wide column"></div>
		<div class="four wide column"></div>
		<div class="eight wide column">
		</div> 



		

